body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

/* Estilos del header */
li, a, button {
    text-decoration: none;
    color: #FAFAFA;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: rgb(44, 135, 196);
}

button {
    padding: 9px 25px;
    background: rgba(0,135,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background: rgb(1, 82, 102);
}

/* Estilos del scroll animadoi */
#scroll-animation {
    background-color: antiquewhite;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 50px;
}

#scroll-animation {
    justify-content: center;
    align-items: center;
    text-align: center;
}