body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fafafa57;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #fafafa50;
    text-decoration: none;
}

/* Estilos generales */
.smallText {
    display: flex;
    justify-content: space-between;
}

.form-group small {
    color: #FAFAFA !important;
}

.form-group {
    text-align: left;
    padding: 7px;
}


/* Estilos del header */
#header a,
#header button {
    text-decoration: none;
    color: #FAFAFA;
}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A !important;
}

.dropdown-item {
    color: #24252A !important;
}

#navbarScroll a {
    transition: all 0.3s ease 0s;
}

#navbarScroll a:hover {
    color: rgb(44, 135, 196);
}

#mainLoginButton {
    padding: 9px 25px;
    background: rgba(0, 135, 169, 1);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    min-width: 150px;
}

#mainLoginButton:hover {
    background: rgb(1, 82, 102);
}

/* Estilos del scroll animadoi */
#scroll-animation {
    background-color: antiquewhite;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 50px;
}

#scroll-animation {
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Estilos del login*/
.login-box {
    margin-top: 7%;
    background-color: #24252A;
    width: 400px;
    height: 500px;
    border-radius: 25px;
    text-align: center;
    display: block !important;
}

#loginTitle {
    color: #FAFAFA !important;
    padding: 10px;
}

.loginForm {
    margin-top: 10%;
}

.loginForm label {
    display: block;
    margin: 10px 0;
    /* Espaciado vertical entre elementos */
    color: #FAFAFA;
}

.loginForm input,
.loginForm input[type="submit"] {
    display: block;
    margin: 10px 0;
    /* Espaciado vertical entre elementos */
}

.loginForm label {
    text-align: left;
}

#forgotPassword a {
    transition: all 0.3s ease 0s;
}

#forgotPassword a:hover {
    color: rgb(44, 135, 196) !important;
}

#createAccount a {
    transition: all 0.3s ease 0s;
}

#createAccount a:hover {
    color: rgb(44, 135, 196) !important;
}

.smallText {
    display: flex;
    justify-content: space-between;
}

#createAccount {
    text-align: right !important;
}

.login-box button {
    margin-top: 50px;
    width: 190px;
    align-items: left;
    background: rgba(0, 135, 169, 1);
    transition: all 0.3s ease 0s;
    border: none;
}

.login-box button:hover {
    background: rgb(1, 82, 102);
}

/* Estilos de la pantalla de trámite*/
#containerTramite {
    margin-top: 2%;
    text-align: center;
    align-items: center;
    background-color: #24252A;
    height: 100px;
}

#containerTramite h1 {
    color: #FAFAFA;
}

.listOfTramites {
    border-radius: 12px;
    background-color: rgb(24, 76, 116);
}

.tramiteTitle {
    font-size: 26px;
    color: #f8f4f4;

}

#requestTramite {
    background: #f8f4f4;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #24252A;
    width: 160px;
}

#requestTramite:hover {
    background: #b5b5b5;
}

/* Estilos de la pantalla de registro*/
.register-box {
    margin-top: 7%;
    background-color: #24252A;
    border-radius: 25px;
    text-align: center;
    display: block !important;
}

#registerTitle {
    color: #FAFAFA !important;
    padding: 10px;
}

.registerForm label {
    display: block;
    margin: 10px 0;
    /* Espaciado vertical entre elementos */
    color: #FAFAFA;
}

.registerForm input,
.registerForm input[type="submit"] {
    display: block;
    margin: 10px 0;
    /* Espaciado vertical entre elementos */
}

.registerForm label {
    text-align: left;
}

.register-box button {
    margin-top: 50px;
    margin-bottom: 10px;
    width: 190px;
    background: rgba(0, 135, 169, 1);
    transition: all 0.3s ease 0s;
    border: none;
}

.register-box button:hover {
    background: rgb(1, 82, 102);
}



/* Estilos para la pantalla de perfil*/
.profileContainer {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 720px;
}

#profileImg {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

#profileName {
    font-size: 35px;
}

.profileBox {
    background-color: #24252A;
    border-radius: 25px;
    text-align: center;
    width: 700px;
}

.boxRow {
    padding: 20px;
}

.optionTitle {
    color: #FAFAFA;
    font-size: 26px;
    margin: 5px;
}

.optionButton {
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease 0s;
}

.optionButton:hover {
    background: #b5b5b552;
}

@media (max-width: 575px) {
    .optionButton {
        margin-top: 5px;
    }
}

/* Estilos para la pantalla de solicitar un trmaite */
#infoTramite {
    padding: 50px;
    margin: 80px;
    border-radius: 25px;
    background-color: #184c74;
    color: #f8f4f4;
}

#containerRequest {
    padding: 50px;
    margin: 80px;
    border-radius: 25px;
    background-color: #184c74;
    color: #f8f4f4;
}
